<?php /** @var $block \Ashsmith\Blog\Block\PostList */ ?>
<h1><?php echo __('Blog Posts') ?></h1>
<ul class="blog-post-list">
    <?php /** @var $post \Ashsmith\Blog\Model\Post */ ?>
    <?php foreach ($block->getPosts() as $post): ?>
        <li class="blog-post-list-item">
            <h3 class="blog-post-item-title">
                <a href="<?php echo $post->getUrl() ?>"><?php echo $post->getTitle() ?></a>
            </h3>
            <img src="<?php echo $block->getMediaUrl() . 'blog/' . $post->getTitle() . '.png'; ?>"/>
        </li>
    <?php endforeach; ?>
</ul>
