<?php
/** @var $block \Ashsmith\Blog\Block\PostView */
/** @var $post \Ashsmith\Blog\Model\Post */
$post = $block->getPost();
?>
<h1 class="blog-post-item-title"><?php echo $post->getTitle() ?></h1>
<img src="<?php echo $block->getMediaUrl() . 'blog/' . $post->getTitle() . '.png'; ?>"/>
<div class="blog-post-item-content">
    <?php echo $post->getDescription(); ?>
</div>

<div class="blog-post-item-meta">
    <strong><?php echo __('Created at:') ?></strong> <?php echo $post->getCreatedAt() ?>
</div>
